# Cria o tipo/rótulo do serviço AIDL (rotulado no arquivo service_contexts)
type devweather_service, service_manager_type;

# Cria o tipo/rótulo do daemon (rotulado no arquivo file_contexts)
type devweather_daemon, domain;
type devweather_daemon_exec, exec_type, vendor_file_type, file_type;

# Permissões
init_daemon_domain(devweather_daemon);                        # O daemon será iniciado pelo init
vndbinder_use(devweather_daemon);                             # O daemon usará o binder
allow devweather_daemon servicemanager:binder { call transfer };

add_service(devweather_daemon, devweather_service)             # O daemon irá criar o serviço do devweather

# Permite acesso aos arquivos do /sys
allow devweather_daemon sysfs:file { getattr open read write };

# Cria e Permite leitura da propriedades de sistema do devweather
vendor_public_prop(vendor_devweather_prop)
allow devweather_daemon vendor_devweather_prop:file { open getattr map read };

# Permite que apps privilegiados acessem o daemon e o serviço
allow platform_app devweather_daemon:binder call;
allow platform_app devweather_service:service_manager find;

# Permite que apps normais acessem o daemon e o serviço
allow untrusted_app devweather_daemon:binder call;
allow untrusted_app devweather_service:service_manager find;
# Linha em branco para evitar erro de compilação


        
