service devtitans.devweather-service /vendor/bin/hw/devtitans.devweather-service
        interface aidl devtitans.devweather.IDevweather/default
        class hal
        user root
        group root
